*{
   
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: "iranyekanwebregular",Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    background-color: rgba(255, 255, 255,0.72);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 10;
}


.logo{
    margin: 11px 28px;
}

.header-ul{
    display: flex;
    list-style: none;
    
}

.header-ul li{
    font-size: 14px;
    margin: 0 15px;
}


.header-ul li a{

    text-decoration: none;
    color: #303030;
    cursor: pointer;
}

.header-ul > li:last-child a{
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family:YekanBakhBold;
}

.header-ul > li:last-child a:hover{
    background-color: #fbf6b9;
}


.more-menu{
    display: flex;
    
}

.more-menu img{
    width: 8px;
    margin-right: 8px;
}

.hamburger-icon{
    width: 27px;
    display: none;
}

.hamburger-menu{
    position: fixed;
    font-size: 17px;
    top: 0;
    right: 0;
    background-color:#fff;
    width: 100%;
    z-index: 10;
    font-family:iranyekanwebmedium ;
    transform: translateY(-102%);
}
.hamburger-menu-items{
    padding: 10px 30px;

}

.hamburger-menu-items li{
    padding: 3px 0;
    list-style: none;
}

.hamburger-menu-items a{
    text-decoration: none;
    color:black;
    
}
.hamburger-menu-items div{
    height: 1px;
    width: 90%;
    background-color: #dfe1e4 ;
    margin: 8px 0;
}


.cross-icon{
    width: 100%;
    text-align: left;
    padding: 25px 0;
}
.cross-icon img{
    width: 20px;
    margin-left: 25px;
}

.more-item{
    display: flex;
    background-color: #eee;
    padding: 20px 45px;
    align-items: center;
}


.more-item a{
    text-decoration: none;
    color: #28457b;
    font-size: 0.95rem;

}

.more-item img{
    width: 16px;
    height: 16px;
    padding-right: 5px;
}
.show-hamburger-menu{
    animation: fadeInDown 0.15s forwards;
}

#show-more-menu{
    position: relative;
}

#show-more-menu ul{
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    list-style: none;
    width: 123px;
    display: none;
}
#show-more-menu li{
    font-size: 0.8rem;
    margin: 0;
    padding: 10px 10px;
    color: black;

}
#show-more-menu li:hover{
    background-color: rgba(232,239,254, 0.6);
}

#show-product-menu{
    position: relative;
}
.product-menu{
    position: absolute;
    display: none;
    justify-content: flex-start;
    top: 0;
    left: -135px;
    background-color: #fff;
    width: 372px;
    border-radius: 12px;
    border-top: 5px solid #f8e88b ;
    padding-top: 5px;
    margin-top: 23px;
}

.product-menu a p:first-child{
    color: #000;
    font-size: 0.95rem;
}

.product-menu a p:last-child{
    color: #000;
    font-size: 0.7rem;
}
.product-menu a{
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.product-menu a:hover{
    background-color: rgba(232,239,254, 0.6);


}

.banner{
    width: 1050px;
    padding: 124px 60px 80px;
    background-image: linear-gradient(135deg,#21254e,#2b4a83);
    border-radius: 20px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.banner-text h3{
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    color: #fff;
}

.banner-text p{
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0;
    line-height: 2.5rem;    
}

.banner-image img{
    width: 500px ;
}

.banner-button{
    margin-top: 60px;

}
.register{
    background-color: #ffd900;
    text-decoration: none;
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #000;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.login{
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #fff;
    text-decoration: none;
    background-color: #435a8a;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
}
.go-down{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 68px;
}

.go-down div{
    background-image: url(../images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}
.go-down img {
    width: 16px;
    position: relative;
    top: -58px;
  }


.online-payment{
    width: 1170px;
    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
}
.online-payment img{
    width: 450px;
    height: 480px;
}
.section-text {
    margin: 30px 0;
    width: 530px;
}
.section-text h2{
    color: #747480;
    font-family: YekanBakhMedium;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 20px 0 5px;
}
.section-text h3{
    color: #303030;
    font-family: YekanBakhHeavy; 
    font-weight: 600;
    font-size: 2rem;
    margin: 5px 0 10px;

}

.section-text p {
    color: #303030;
    font-family: YekanBakhMedium;
    text-align: justify;
    line-height: 40px;
    border-bottom: 1px solid #dfe1e4 ;
    padding-bottom: 20px;
    margin-top: 16px;
}

.section-links {
    margin-top: 40px;
    display: flex;
}
.section-links .first-button{
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.section-links .second-button{
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #28457b;
    text-decoration: none;
    background-color: rgba(232, 239, 254, 0.7);
    padding: 6px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.section-links .second-button img{
    width: 18px;
    height: 15px;
    margin-right: 5px;
}
.online-payment .section-image1{
    width: 680px;
    height: 530px;
}


.attributes{
    width: 1170px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.definition{
    width: 35%;
    margin-top: 50px;
    
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 30px;
}
.items img{
    width: 60px;
    height: 60px;
}
.items .item{
    padding: 18px 25px 20px 0;
}
.items .item div{
    display: flex;
    align-items: center;
}

.items h4{
    font-size: 1.5rem;
    font-family: YekanBakhHeavy;
    margin-right: 20px;
}

.items p{
    margin: 20px 0px 20px 10px;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    font-weight: 100;
    color: #303030;
    text-align: justify;
    line-height: 36px;
}

.definition h3{
    font-family: yekanbakhheavy;
    font-size: 2rem;
}

.definition p{
    width: 85%;
    text-align: justify;
    line-height: 40px;
    margin-top: 40px;
    font-size: 1rem;
}

.first-item{
    border-left: 1px solid #e0e4e7;
}


.third-item{
    border-left: 1px solid #e0e4e7;
    border-top: 1px solid #e0e4e7;

}
.fourth-item{
    border-top: 1px solid #e0e4e7;
}

.start-box{
    width: 1170px;
    height: 220px;
    margin: auto;
    margin-top: 50px;
    border: solid 1px silver;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding-bottom: 10px;
}
.start-box h4{
    color: #303030;
    font-size: 28px;
    font-family: YekanBakhHeavy;
    display: block;
    margin: 0px 0;
}

.start-box p{

    color: #747480;
    font-size: 22px;
    font-family: YekanBakhMedium;
    margin-top: 10px;
    margin-bottom: 20px;
}

.start-box a{
    text-decoration: none;
    font-family: iranyekanwebmedium;
    font-size: 0.9rem;
    height: 28px;
    line-height: 28px;
    padding: 4px 14px;
    color: #000;
    background-color: #ffd900;
    border-radius: 10px;
}
.support{
    width: 1110px;
    height: 70px;
    border: none;
    background-color: #fbf6f1;
    margin: 50px auto;
    padding: 0 30px;
    border-radius: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: YekanBakhHeavy;

}

.support-number{
    font-family: YekanBakhHeavy;
    font-size: 1.5rem;
}
#line{
    margin: 0 15px;
}
#phone-number{
    color: #21457f;
    margin: 0 15px;
}

.support-request{
    display: flex;
    color: #21457f;
    font-family: 'YekanBakhBold';
    font-size: 1.5rem;

}
.support-request img{
    width: 20px;
    margin-right: 20px;

}
.support-request :hover{
    cursor: pointer;

}

footer{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    
}

footer .footer-links{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    width: calc(100% - 330px);
    margin-bottom: 50px;
    padding: 0 10px;
    

}
.social-media{
    width: 330px;
    padding: 0 30px;
    margin-bottom: 100px;
}
.social-media p {
    font-family: YekanBakhHeavy;
    font-size: 1.3rem;
    color: #303030;
}
.social-media div{
    display: flex;
    margin-top: 20px;
}
.social-media a{
    background-color: #eff4fe;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
 
}

.footer-links p {
    font-size: 1.2rem;
    font-family: YekanBakhHeavy;
    margin-top: 15px;
    color: #303030 ;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links ul{
    list-style: none;
    margin-top: 15px;
}

.footer-links li{
    padding: 8px 0;
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-100%) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes showUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@media(max-width: 1200px){
    header{
        width: 940px;
    }
    .banner{
        width: 900px;
        padding: 60px 40px 120px;
    }
    .banner-image img{
        width: 430px;
    }
    .online-payment{
        width: 940px;
    }
    .online-payment .section-image1{
        width: 500px;
        height: 423px;
    }
    .attributes{
        width: 924px;
        padding: 0 8px;
        flex-direction: column;
    }
    .definition{
        width: 100%;
        margin-top: 40px;
    }
    .definition p{
        width: 100%;
    }

    .first-item , .second-item , .third-item , .fourth-item{
        border: none;
    }

    .items{
        width: 90%;
        padding: 30px;
    }

    .items .item{
        padding: 18px 0 20px 50px;
    }
    .start-box{
        width: 940px;
    }
    .support{
        width: 880px;
    }
    footer{
        width: 940px;
    }

}
@media(max-width: 990px){
    header{
        width: auto;
        padding: 20px 60px;
    }
    .header-ul li:last-child{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .header-ul li{
        margin: 0 10px;
    }
    .banner{
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .banner-image img{
        display: none ;
    }
    .banner-text{
        text-align: center;
    }
    .banner-text p{
        margin: 5px 0;
        font-size: 1rem;
    }
    .banner-button {
        margin-top: 40px;
    }
    .online-payment {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .section-text{
        width: 95%;
    }
    .attributes{
        width: auto;
        padding: 0 35px;
    }
    .start-box{
        margin: 0 38px;
        width: calc(100% - 76px);
    }
    .support{
        width: calc(100% - 120px);
    }
    .support-number , .support-request{
        font-size: 1.2rem;
    }
    footer{
        flex-direction: column;
        width: calc(100% - 30px);
    }
    footer .footer-links{
        width: calc(100%);
    }
    footer .social-media{
        padding: 0 10px;
    }
    .bell{
        background-color: #2e82ff;
        width: fit-content;
        padding: 7px 7px 0;
        
    }

}

@media (max-width:768px){

    .header-ul{
        display: none;
    }
    header{
        width: auto;
        padding: 10px 8px;
    }
    .hamburger-icon{
        display: block;
    }
    .banner{
        margin-left: 8px;
        margin-right: 8px;
    }
    .section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .online-payment img{
        width: 460px;
        height: 480px;
    }
    .definition{
        text-align: center;
        margin-top:  90px;

    }
    .definition h3{
        font-size: 1.6rem;
    }
    .items{
        width: 100%;
        padding: 50px 0;

    }
    .items .item{
        padding: 18px 0 20px 20px;
    }
    .start-box{
        margin: 0 auto;
        width: calc(100% - 16px);
    }
    .support{
        flex-direction: column;
        align-items: flex-start;
        background:none;
    }
    .support-request{
        background-color: #fbf6f1;
        margin: 19px 0;
        padding: 0px 15px;
        border-radius: 35px;
    }
    .support-request p{
       margin: 5px 5px;
    }
    footer .footer-links{
        grid-template-columns: repeat(2 , 1fr);
    }
    footer .footer-links div {
        margin-top: 25px;
    }

    footer{
        width: calc(100% - 120px);
        margin: 0 60px;
    }
}
@media (max-width:575px){
    .banner{
        padding: 80px 40px;
    }

    .banner-text h3{
        text-align: right;
        font-size: 20px;
        line-height: 44px;
    }
    .banner-text p{
        font-size: 16px;
        line-height: 36px;

    }
    .online-payment .section-image{
        display: none;
    }
    .section-text{
        width: 80%;
        padding: 0 10px;
    }
    .section-text h3{
        font-size: 1.5rem;
    }
    .online-payment .section-image1{
        display: none;
    }
    .items{
        padding: 50px 0;
        grid-template-columns: 1fr;
    }
    .items .item {
        padding: 18px 0;

    }
    .start-box{
        height: 180px;
        margin: auto;
    }
    .start-box h4{
        font-size: 1.2rem;
    }
    .start-box p{
        font-size: 1rem;
    }
    .support{
        width: calc(100% - 60px);
        padding: 0;
        margin: 50px 30px;
    }
    .support-number , .support-request{
        font-size: 0.95rem;
    }
    footer{
        width: calc(100% - 60px);
        margin: 0 30px;
        margin-bottom: 50px;
    }

    .footer-links a , .footer-links p{
        font-size: 0.9rem;
    }

    .social-media {
         margin: auto; 
        
    }

  

    .social-media p{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .social-media div{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .social-media a{
        height: 35px;
        width: 35px;
        margin-left: 10px;
    }

    .social-media img{
        width: 20px;
        
    }
}
